extends layout

block content
  nav.navbar.navbar-expand-md.navbar-light.text-center.fixed-top.bg-faded.text-capitalize
    .container
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar2SupportedContent', aria-controls='navbar2SupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar2SupportedContent.collapse.navbar-collapse.text-center.justify-content-center
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#home')
              | Главная
              br
          li.nav-item
            a.nav-link(href='#teachers') Преподаватели
          li.nav-item
            a.nav-link(href='#offers')
              | Предложения
              br
          li.nav-item
            a.nav-link(href='#contact')
              | Контакты
              br
          li.nav-item
            a.nav-link(href='#map')
              | Карта
              br
  #home.py-5.bg-primary.d-flex.h-100.align-items-center.text-center.opaque.opaque-fade-out(style='position: relative; background-image: url("./img/bg.jpg");min-height:100vh;')
    .container-fluid(style='background-color: rgba(247,247,247,.7);') 
      .row.text-gray-dark
        .col-md-6.divider-left
          h1.pi-item
            strong
              | «Верхнекамский технический институт»
          p.lead.text-left
            | - это специализированное образовательное учреждение, существующее на рынке образовательных услуг уже более 10 лет. За этот период сформировался и успешно работает стабильный коллектив высококвалифицированных специалистов, осуществляющих чёткую организацию образовательного процесса в соответствии с нормативно-правовой документацией.
            br
            | Условия обучения отвечают современным требованиям, а профессионализм преподавательского состава и наличие учебной и методической литературы позволяют обеспечить достойное обучение слушателей.
            br
            | Успешный опыт сотрудничества с организациями Пермского края позволяет нам обеспечивать потребности заказчиков в области обучения специалистов и персонала организаций по промышленной безопасности и охране труда.
        .col-sm-12.col-md-6
          h1.pi-item Заявка на обучение 
          include form
  //- #about.py-5.section
  //-   .container
  //-     .row
  //-       .col-md-6
  //-         img.img-fluid.img-thumbnail(src='./img/icon.png', alt='Верхнекамский технический институт')
  //-       .col-md-6
  //-         h1.text-primary
  //-           | О нас
  //-           br
  //-         p.lead
  //-           | Частное учреждение дополнительного профессионального образования «Верхнекамский технический институт» - это специализированное образовательное учреждение, существующее на рынке образовательных услуг уже более 10 лет. За этот период сформировался и успешно работает стабильный коллектив высококвалифицированных специалистов, осуществляющих чёткую организацию образовательного процесса в соответствии с нормативно-правовой документацией.
  //-           br
  //-           | Условия обучения отвечают современным требованиям, а профессионализм преподавательского состава и наличие учебной и методической литературы позволяют обеспечить достойное обучение слушателей.Успешный опыт сотрудничества с организациями Пермского края позволяет нам обеспечивать потребности заказчиков в области обучения специалистов и персонала организаций по промышленной безопасности и охране труда. 
  #teachers.py-5.text-center
    .container
      .row
        .col-lg-12
          h1.text-primary.text-center(id='')
            | Преподаватели
      .row
        .col-lg-2.col-md-4.col-sm-6
          img.d-block.mx-auto.img-fluid.my-3(src='./img/t/gaag_11.jpg', alt='Гаак Николай Николаевич')
          h3 Гаак Николай Николаевич
          p старший преподаватель 
        .col-lg-2.col-md-4.col-sm-6
          img.d-block.mx-auto.img-fluid.my-3(src='./img/t/sher_new.jpg', alt='Шерстобитов Анатолий Борисович')
          h3 Шерстобитов Анатолий Борисович
          p преподаватель 
        .col-lg-2.col-md-4.col-sm-6
          img.d-block.mx-auto.img-fluid.my-3(src='./img/t/vinogradova_15.jpg', alt='Виноградова Ольга Валентиновна')
          h3 Виноградова Ольга Валентиновна 
          p преподаватель 
        .col-lg-2.col-md-4.col-sm-6
          img.d-block.mx-auto.img-fluid.my-3(src='./img/t/gorshkova_19.jpg', alt='Горшкова Валентина Александровна')
          h3 Горшкова Валентина Александровна
          p преподаватель 
        .col-lg-2.col-md-4.col-sm-6
          img.d-block.mx-auto.img-fluid.my-3(src='./img/t/isaakova_17.jpg', alt='Исакова Татьяна Георгиевна')
          h3 Исакова Татьяна Георгиевна
          p преподаватель 
        .col-lg-2.col-md-4.col-sm-6
          img.d-block.mx-auto.img-fluid.my-3(src='./img/t/har.jpg', alt='Харькин Антон Сергеевич')
          h3 Харькин Антон Сергеевич
          p преподаватель 
        //- .col-md-4
        //-   img.d-block.mx-auto.rounded-circle.img-fluid.my-3(src='https://pingendo.com/assets/photos/user_placeholder.png')
        //-   h3 John Doe
        //-   p Developer
        //- .col-md-4
        //-   img.d-block.mx-auto.rounded-circle.img-fluid.my-3(src='https://pingendo.com/assets/photos/user_placeholder.png')
        //-   h3 John Doe
        //-   p Developer
  #offers.py-5.section
    .container
      .row
        .col-md-6
          h1.text-primary.text-center(id='')
            | Что мы предлагаем?
            br
          p.lead
            | В современном мире, когда конкурентоспособность напрямую зависит от использования новых технологий, на первый план выходит уровень профессиональной подготовки сотрудников организаций. ЧУ ДПО «Верхнекамский технический институт» гарантирует Вам качественное обучение рабочих, руководителей и специалистов организаций.
        .col-md-6
          .row
            .col-sm-6.text-center
              img.img-fluid(src='./img/1.png', alt="Надежность")
              p
                strong Надежность
            .col-sm-6.text-center
              img.img-fluid(src='./img/2.png', alt="Цена")
              p
                strong Цена
            .col-sm-6.text-center
              img.img-fluid(src='./img/3.png', alt="Доверие")
              p
                strong Доверие
            .col-sm-6.text-center
              img.img-fluid(src='./img/4.png', alt="Компетенция")
              p
                strong Компетенция

  #contact.bg-faded.py-5
    .container
      .row
        .col-md-6
          h1.pi-item Контакты
          p
            strong ЧУ ДПО "Верхнекамский технический институт" 
            br
            | Пермский край, г.Соликамск, ул.Черняховского, 4А
            br
            | +7 (34253) 6-50-01
            br
            | +7 (34253) 6-50-04
            br
            | г.Пермь, Подлесная 43А 
            br
            | +7 (342) 258-00-70
        .col-md-6
          h1.pi-item Заявка на обучение
          include form
  .container-fluid#map
    .row
      //- .col-lg-12
      iframe(src="https://yandex.ru/map-widget/v1/-/CBQ-bAeqtB", width="100%", height="500", frameborder="0")
  script(src='https://code.jquery.com/jquery-3.1.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  script(src='https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js')